.templates {
    padding-bottom: 120px;
    padding-top: 120px;
}

.Template__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.templates__txt {
    font-family: 'Old Standard TT', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2px;
    color: #ACA592;
    text-transform: uppercase;
}

.templates__h2 {
    font-family: 'Old Standard TT', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    color: #FFAE2B;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center
}

.templates__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.templates__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 32%;
    border: 1px solid #4B4136;
    transition: 0.25s
}

.card__txt {
    font-family: 'Old Standard TT', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase
}

.img {
    height: 100%;
    width: 100%;
}

.templ {
    transition: 0.25s
}

.templates__card:hover {
    transform: scale(1.1);
    transition: 0.25s
}

@media screen and (max-width:425px) {
    .templates__card:hover {
        transform: scale(1);
    }

    .templates__card {}
    .card__img{
            height: 100%;
            width: 290px;
    }

}